absl-py==1.3.0
aiohttp==3.8.6
aiosignal==1.3.1
antlr4-python3-runtime==4.9.3
appdirs==1.4.4
astunparse==1.6.3
async-timeout==4.0.3
asynctest==0.13.0
attrs==24.2.0
bcbio-gff==0.6.6
bio==1.3.3
biopython==1.79
biothings-client==0.2.6
Bottleneck @ file:///home/conda/feedstock_root/build_artifacts/bottleneck_1656803757560/work
Brotli @ file:///home/conda/feedstock_root/build_artifacts/brotli-split_1648883617327/work
cachetools==5.2.0
certifi @ file:///home/conda/feedstock_root/build_artifacts/certifi_1725278078093/work/certifi
cffi @ file:///home/conda/feedstock_root/build_artifacts/cffi_1666183775483/work
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1728479282467/work
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1666700638685/work
conda==22.9.0
conda-package-handling @ file:///home/conda/feedstock_root/build_artifacts/conda-package-handling_1691048088238/work
conda-tree @ file:///home/conda/feedstock_root/build_artifacts/conda-tree_1679661879592/work
conda_package_streaming @ file:///home/conda/feedstock_root/build_artifacts/conda-package-streaming_1729004031731/work
ConfigArgParse==1.7
connection-pool==0.0.3
contextlib2==21.6.0
contourpy==1.0.5
cryptography @ file:///home/conda/feedstock_root/build_artifacts/cryptography_1666563349571/work
cycler @ file:///home/conda/feedstock_root/build_artifacts/cycler_1635519461629/work
datrie==0.8.2
deepspeed==0.5.9
dm-tree==0.1.8
docutils==0.20.1
dpath==2.2.0
einops==0.6.1
fair-esm @ git+https://github.com/facebookresearch/esm.git@2b369911bb5b4b0dda914521b9475cad1656b2ac
fastjsonschema==2.21.1
filelock==3.12.2
flatbuffers==22.9.24
focal-loss==0.0.7
fonttools @ file:///home/conda/feedstock_root/build_artifacts/fonttools_1666389892786/work
frozenlist==1.3.3
fsspec==2023.1.0
ftfy==6.1.1
gast==0.4.0
gensim==4.2.0
gitdb==4.0.12
GitPython==3.1.44
google-auth==2.13.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
grpcio==1.49.1
h5py==3.7.0
hjson==3.1.0
huggingface-hub==0.16.4
humanfriendly==10.0
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1726459485162/work
importlib-metadata==5.0.0
importlib-resources==5.12.0
Jinja2==3.1.6
joblib==1.2.0
jsonschema==4.17.3
jupyter_core==4.12.0
keras==2.10.0
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
kiwisolver @ file:///home/conda/feedstock_root/build_artifacts/kiwisolver_1657953088445/work
libclang==14.0.6
lightning-utilities==0.10.1
llvmlite==0.39.1
Markdown==3.4.1
MarkupSafe==2.1.5
matplotlib @ file:///home/conda/feedstock_root/build_artifacts/matplotlib-suite_1661439848456/work
ml-collections==0.1.1
multidict==6.0.5
munkres==1.1.4
mygene==3.2.2
nbformat==5.8.0
networkx @ file:///home/conda/feedstock_root/build_artifacts/networkx_1646092782768/work
ninja==1.11.1.1
numba==0.56.4
numcodecs==0.7.3
numexpr @ file:///home/conda/feedstock_root/build_artifacts/numexpr_1658076415990/work
numpy @ file:///home/conda/feedstock_root/build_artifacts/numpy_1649806299270/work
nvidia-ml-py==12.535.161
nvitop==1.3.2
oauthlib==3.2.2
olefile @ file:///home/conda/feedstock_root/build_artifacts/olefile_1701735466804/work
omegaconf==2.3.0
# Editable install with no version control (open-clip-torch==2.24.0)
-e /root/miniconda3/envs/g2v-env/lib/python3.7/site-packages
opt-einsum==3.3.0
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1696202382185/work
pandas==1.3.5
Pillow @ file:///home/conda/feedstock_root/build_artifacts/pillow_1636558793805/work
pkgutil_resolve_name==1.3.10
plac==1.4.5
protobuf==3.19.6
psutil==6.0.0
PuLP==2.6.0
py-cpuinfo==9.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycosat @ file:///home/conda/feedstock_root/build_artifacts/pycosat_1666656960991/work
pycparser @ file:///home/conda/feedstock_root/build_artifacts/pycparser_1636257122734/work
pynndescent==0.5.13
pyOpenSSL @ file:///home/conda/feedstock_root/build_artifacts/pyopenssl_1685514481738/work
pyparsing @ file:///home/conda/feedstock_root/build_artifacts/pyparsing_1724616129934/work
pyrsistent==0.19.3
PySocks @ file:///home/conda/feedstock_root/build_artifacts/pysocks_1648857264451/work
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/python-dateutil_1709299778482/work
pytorch-lightning==1.9.5
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1726055524169/work
PyYAML==6.0
regex==2024.4.16
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1716354486713/work
requests-oauthlib==1.3.1
reretry==0.11.8
rsa==4.9
ruamel-yaml==0.15.71
safetensors==0.4.5
scikit-learn==0.24.1
scipy @ file:///home/conda/feedstock_root/build_artifacts/scipy_1637806658031/work
seaborn==0.10.0
sentencepiece==0.2.0
six @ file:///home/conda/feedstock_root/build_artifacts/six_1620240208055/work
smart-open==6.2.0
smmap==5.0.2
snakemake==7.32.4
stopit==1.1.2
tabulate==0.9.0
tensorboard==2.10.1
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.10.0
tensorflow-estimator==2.10.0
tensorflow-io-gcs-filesystem==0.27.0
termcolor==2.0.1
threadpoolctl==3.1.0
throttler==1.2.2
timm==0.9.12
tokenizers==0.13.3
toolz @ file:///home/conda/feedstock_root/build_artifacts/toolz_1706112571092/work
toposort==1.10
torch==1.12.0+cu113
torchaudio==0.12.0+cu113
torchmetrics==0.11.4
torchvision==0.13.0+cu113
tqdm==4.66.5
traitlets==5.9.0
transformers==4.30.2
triton==1.0.0
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1688315532570/work
umap-learn==0.5.6
unicodedata2 @ file:///home/conda/feedstock_root/build_artifacts/unicodedata2_1649111917568/work
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1708239446578/work
wcwidth==0.2.13
Werkzeug==2.2.2
wrapt==1.14.1
xgboost==1.3.3
yarl==1.9.4
yte==1.7.0
zipp==3.9.0
zstandard @ file:///home/conda/feedstock_root/build_artifacts/zstandard_1655887611100/work
